<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
	   default-autowire="byType">

	<!-- 开启注解扫描 -->
	<context:component-scan base-package="com.wb.spring.share.class1"/>

<!--	<context:annotation-config />-->
	<bean id="hotDog" class="com.wb.spring.share.class1.domain.HotDog"
		  init-method="createHotDog"
		  destroy-method="eatHotDog">
		<property name="id" value="1"/>
		<property name="name" value="dog name"/>
	</bean>
</beans>