<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byName" default-lazy-init="false">
	<bean id="configClient" class="com.wb.spring.beans.ConfigCenterClient">
		<property name="appName" value="testName" />
		<property name="appId" value="testId" />
	</bean>

	<bean id="configUtil" class="com.wb.spring.beans.ConfigUtil">
		<property name="client" ref="configClient"/>
	</bean>
</beans>